body {
  font-family: 'Baskervville', serif;
  background-color: #362B48;
  color:#FCF7FF;
  font-weight: bolder;
  
    
    
}



h1, h2, h3, h4, h5, h6 {
  font-family: 'Baskervville', serif;
   
   
}
h1{
    font-size:50pt;
}
h2 {
    font-size:20pt;
}
h3{
    font-size:20pt;
    text-align:center; 
}
h4{
    font-size:25pt;
    text-align:center; 
    

}


header {
    text-align:center;
}

#hero, footer {
  text-align:center;
  padding: 10px;
  
  margin-bottom: 30px;   
}
/*Hero Section*/

#hero {
  padding: 7px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  color: #FFF;
  background-size: cover;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  
}

#hero img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

#hero div {
  text-align: center;
  color: #FDF7FF;
}

#hero div p:first-of-type {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  animation: slide-down 1s ease-out;
}

#hero div p:last-of-type {
  font-size: 1.5rem;
  font-weight: bold;
  animation: slide-up 1s ease-out;
}



@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes border-colors {
  0% {
    border-image: linear-gradient(to right, #ff00ff, #00ffff) 1;
  }
  25% {
    border-image: linear-gradient(to right, #00ffff, #ffff00) 1;
  }
  50% {
    border-image: linear-gradient(to right, #ffff00, #ff00ff) 1;
  }
  75% {
    border-image: linear-gradient(to right, #ff00ff, #00ff00) 1;
  }
  100% {
    border-image: linear-gradient(to right, #00ff00, #00ffff) 1;
  }
}


/*Bio Section*/
.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bio .content h2 {
  margin-top: 20px;
  text-align: center;
  font-size: 2em;
  text-align: center;
}

h2 {
  margin-bottom: 7px;
}

.flip-card {
  background-color: transparent;
  width: 190px;
  height: 254px;
  perspective: 1000px;
  font-family: sans-serif;
  margin: 10px;
  font-family: 'Baskervville', serif;
}

.title {
  font-size: 1em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid #362B48;
  border-radius: 1rem;
}

.flip-card-front {
  background: linear-gradient(120deg, #B2CAD5 30%, #3B9CB9 60%, #2E6577 88%, #FEF6FF 40%);
  color: whitesmoke;
}

.flip-card-back {
  background: linear-gradient(120deg, #FEF6FF 30%, #B2CAD5 60%, #3B9CB9 88%, #2E6577 40%);
  color: #2E6577;
  transform: rotateY(180deg);
}

@media screen and (max-width: 768px) {
  .bio {
      padding: 10px;
  }

  .bio img {
      margin: 0 0 20px 0;
      max-width: 100%;
  }
  .bio .content {
    flex-direction: column;
    align-items: center;
  }
  .bio.text {
    max-width: 100%;
    text-align: center;
  }
}

/*Hobbies Section*/
#hobbies {
    background-color: #9B89B3;
    padding: 20px;
    border: 1px solid #7B7484;
    margin-top: 30px;
    font-family: 'Baskervville', serif;
  }
  
  #hobbies h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  #hobbies ul {
    list-style-type: disc;
    margin-left: 20px;
    font-size: 18px;
    line-height: 1.5;
  }
  
  #hobbies li {
    margin-bottom: 5px;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    font-size: 1.2rem;
    max-width: 1200px;
    margin: 0 auto; 
    text-align: justify;
  }
  
  .skill-box {
    padding: 1rem;
    color: #ddd;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .skill-title {
    text-align: center;
  }
  
  .imagenes {
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 45px;
    display: flex;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
  }
  
  .imagenes:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 90px;
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 45px 0 0 45px;
  }
  
  .skill-icon {
    width: 50px;
    z-index: 2;
  }

  .skill-box:hover {
    background-color: #fff;
    color: #000;
  }
  @media only screen and (max-width: 768px) {
    .container {
      grid-template-columns: repeat(2, 1fr);
      padding: 1rem 20px;
    }
  
    .skill-box {
      font-size: 1rem;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .container {
      grid-template-columns: 1fr;
      padding: 1rem 10px;
    }
  
    .skill-box {
      font-size: 0.8rem;
    }
  }
  
/*Gallery Section*/
#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 800px;
}

#gallery h2 {
  text-align: center;
}

.card {
  width: 190px;
  height: 380px;
  background: white;
  padding: .4em;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.card-image {
  background-color: rgb(236, 236, 236);
  max-width: 100%;
  height: 100%;
  border-radius: 6px 6px 0 0;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}


.card:hover .card-image {
  transform: scale(0.98);
}

.category,
.heading {
  font-weight: 600;
  color: black;
  padding: 7px;
}

.category {
  text-transform: uppercase;
  font-size: 0.7em;
  color: rgb(63, 121, 230);
}

.category:hover,
.heading:hover {
  cursor: pointer;
}

.author {
  color: black;
  font-weight: 400;
  font-size: 11px;
  padding-top: 20px;
}

.name {
  font-weight: 600;
  color: black;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .card-image {
    width: 150px;
    height: 150px;
  }
}


/*Video*/
#video {
  background-color: #9B89B3;
  padding: 20px;
  margin-top: 30px;
  font-family: 'Baskervville', serif;
  text-align: center;
}

#video h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

#video p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

@media only screen and (max-width: 768px) {
  #video {
    padding: 20px 10px;
  }
}

/*blog*/

.hover-effect {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
}

.one {
  background-color: #00ff00;
  border-radius: 20px;
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
  flex-grow: 1;
  transition: .3 all ease;
  display: block;
}

.one:hover{
  flex-grow: 2;
  background-color: rgb(44, 82, 209);
  width: 140px;
}

/*explanation*/

.section-one {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  background-color: #9B89B3;
}

.explanation {
  flex-grow: 1;
  max-width: 30%;
  margin-right: 20px;
  text-align: justify;
  padding-right: 40px;
}

.my-effect {
  width: 20%;
  justify-content: center;
}



@media screen and (max-width: 768px) {
  .section-one {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }
  
  .explanation {
    max-width: 100%;
    margin-right: 0;
    padding-right: 0;
    margin-bottom: 20px;
  }
  
  .my-effect {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .explanation {
    font-size: 14px;
  }
}

/* tablet size */
@media screen and (min-width: 60em){
    figure{
        display: grid;
        grid-template-columns: 2fr 1fr;

    }
figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-left: 1rem;
}
figure img {
    width: 100%;
}
}

/* large screen size */

@media screen and (min-width: 60em) {

#gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
hr {
    display: none;
    
}

#gallery h2 {
    grid-column: 1/-1;
}

figure {
    display: block;}
}

/* Contact Form*/

#formElements {
    display: grid;
    row-gap: .5em;
    color: #FCF7FF;
  }
  #contact {
    padding: 1rem;
    max-width: 600px;
    margin: 2rem auto;
    
  }
  
  fieldset {
    border: 2px solid #FCF7FF;
    margin-top: 1em;
    margin-bottom: 1em;
    
  }
 
  legend {
    background-color: #9B89B3;
    color: #FCF7FF;
    padding:.5em;
  }
  #contact input, #contact textarea, #contact select, #contact button {
    padding:.5em;
    font-size: 1rem;
    color: black;
    
  }
  #contact ul {
    list-style: none;
    padding:0px;
  }
  #contact li{
    margin:1rem;
  }
  #contact button{
    background-color: #9B89B3;
    color: #FCF7FF;
    border: 1px solid #9B89B3;
    max-width:400px;
    width:50%;
    justify-self: center;
  }
  
  #contact button:hover {
    background-color: #FCF7FF;
    color: #9B89B3;
  }
  
  
  



