body {
    font-family:Roboto;
    background-color: #FFE4C2;
    color:#002835;
    font-weight: bolder;
    
    
}

h1, h2, h3, h4, h5, h6 {
   font-family:"Special Elite";
   
   
}
h1{
    font-size:50pt;
}

header {
    text-align:center;
}

#hero, footer {
    background-color:#FEC87F;
    text-align:center;
    padding: 10px;
    border:5px solid #5C4E47;
    
    
}
/*Hero Section*/
#hero img {
    width: 400px;
}
/*Bio Section*/
#bio {
    text-align: center;
    
    
}
/*Hobbies Section*/
#hobbies ul li:nth-child(even){
    background: white;
    color: black;

}

ul li:nth-child(odd){
    color: blue;
    
}
/*Gallery Section*/
#gallery {
    text-align: right;
}
#gallery img{
    max-width: 100%;
}
#gallery img{
    text-align: right;
}
/*Literature*/
#lit{
    
}
#lit div{
    
    max-width: 40rem;
}
#lit div p:nth-child(3n+1):first-letter{
    color:black;
    float: left;
    font-size:1.4em;
    background-image: radial-gradient(white,rgb(240, 213, 155));
    margin-right:0.4em;
    line-height: .65;
    border:4px outset burlywood;
    text-shadow: 2px 2px 3px black;
    box-shadow: 5px 5px 5px black;
    border-top-left-radius: .2em;
    border-bottom-right-radius: .2em;
}




